/LocalizacionInstaller/.vs
/LocalizacionInstaller/exxis_localizacion/bin/Debug
/LocalizacionInstaller/exxis_localizacion/bin/Release
/LocalizacionInstaller/exxis_localizacion/bin/x64/Debug
/LocalizacionInstaller/exxis_localizacion/bin/x86/Debug
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/exxis_localizacion.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/exxis_localizacion.pdb
/LocalizacionInstaller/exxis_localizacion/obj
/LocalizacionInstaller/packages
/Manual/LibrosLegales.fbr
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Auth.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Drive.v3.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Sheets.v4.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/log4net.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Newtonsoft.Json.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Auth.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Auth.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Core.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Drive.v3.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Drive.v3.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Sheets.v4.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Sheets.v4.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/log4net.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Newtonsoft.Json.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Core.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Google.Apis.Core.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/DotNetZip.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/DotNetZip.xml
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Auth.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Core.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Drive.v3.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Google.Apis.Sheets.v4.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x64/Release/Microsoft.VisualStudio.TemplateWizardInterface.xml
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/DotNetZip.pdb
/LocalizacionInstaller/exxis_localizacion/bin/x86/Release/Microsoft.VisualStudio.TemplateWizardInterface.xml
